@import "../../../assets/theme.scss";
@import "../step1/step1.component.scss";
@import "../step2/step2.component.scss";

.content-lateral-section-last-details {
  background: $accent-color-four;
  height: 100vh;
  width: 36%;
}

.content-logo-community {
  height: 224px;
  width: 224px;
  background: $color-gray-five;
  border-radius: 50%;
  cursor: pointer;
}

.content-banner-community {
  width: 937px;
  background: $color-gray-five;
  border-radius: 5px;
  height: 224px;
  cursor: pointer;
}

.title-logo {
  margin-top: 40px;
  font-size: 16px;
  font-family: $title;
  font-weight: 700;
}

.previsualizacion {
  height: 224px;
  width: 224px;
}

.previsualizacion-two {
  width: 937px;
  height: 224px;
  border-radius: 5px;
}
