<section class="d-flex flex-column mt-5 content-end-section-global">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div class="d-flex flex-column">
      <h2 class="title-end-section-home">Obten ingresos para tu comunidad</h2>
      <p class="paragraph-end-section-home">
        Vende articulos exclusivos de tu comunidad para seguir ofreciendo
        contenido como te gusta
      </p>
    </div>
    <a
      [routerLink]="['/crear-comunidad']"
      target="_blank"
      class="
        d-flex
        btn-end-section-home
        justify-content-center
        align-items-center
      "
    >
      Crear comunidad
    </a>
  </div>
  <div
    class="d-flex justify-content-between content-description-end-section-home"
  >
    <img src="../../../assets/svg/shopping-cart.svg" alt="carro de compras" />
    <div
      class="
        d-flex
        position-relative
        content-description-end-section
        justify-content-between
        align-items-center
      "
    >
      <img
        class="d-flex position-absolute icon-offer-end-section-home"
        src="../../../assets/svg/offer-title.svg"
        alt="icono de oferta"
      />
      <ul class="d-flex flex-column h-100 justify-content-between">
        <li class="list-description-end-section">
          Genera ingresos con las suscripciones de tu comunidad
        </li>
        <li class="list-description-end-section">
          Vende objetos exclusivos en la tienda
        </li>
        <li class="list-description-end-section">
          Genera ingresos con eventos
        </li>
      </ul>
      <img
        src="../../../assets/png/images-decorator.png"
        alt="imagenes de articulos"
      />
    </div>
  </div>
</section>
