<div class="login-container d-flex flex-column">
  <app-nav-auth></app-nav-auth>

  <section class="d-flex flex-column section-community">
    <div class="d-flex header-community flex-column position-relative">
      <div class="d-flex justify-content-center mt-5">
        <p class="header-title-principal">
          Comunidades de todo el mundo esperando a por ti
        </p>
      </div>

      <div
        class="
          d-flex
          my-auto
          content-search-community
          position-absolute
          justify-content-center
          align-items-center
        "
      >
        <select name="" id="" class="select-area-section-community">
          <option value="Aréa de interes" selected disabled>
            Aréa de interes
          </option>
          <option value="Programación">Programación</option>
          <option value="Dibujo digital">Dibujo digital</option>
          <option value="Dibujo tradicional">Dibujo tradicional</option>
          <option value="Animación 3D">Animación 3D</option>
          <option value="Modelado 3D">Modelado 3D</option>
        </select>
        <div
          class="
            d-flex
            content-input-seach-community
            align-items-center
            justify-content-between
            pe-2
          "
        >
          <input
            type="text"
            class="input-seach-community me-2"
            placeholder="Buscar por el nombre de la comunidad"
          />
          <img
            src="./../../assets/svg/search-icon.svg"
            alt="Icono de busqueda"
          />
        </div>
        <button class="btn-clear-filters">Limpiar Filtros</button>
        <a
          type="button"
          target="_blank"
          [routerLink]="['/crear-comunidad']"
          class="
            d-flex
            btn-create-community
            justify-content-center
            align-items-center
          "
        >
          Crear Comunidad
        </a>
      </div>
    </div>
    <section class="d-flex section-cards-new-comunity flex-wrap">
      <app-new-community
        class="me-4 mb-4"
        *ngFor="let comunity of comunities"
        [comunity]="comunity"
      ></app-new-community>
    </section>
  </section>

  <app-footer class="d-flex footer-style-section-community"></app-footer>
</div>
