/* colores de la página */
$color-dark-one: #1E1E1E;
$color-dark-two: #333333;
$color-gray-one: #4F4F4F;
$color-gray-two: #848484;
$color-gray-trhee: #BDBDBD;
$color-gray-four: #DFDFDF;
$color-gray-five: #F8F8F8;
$color-white-one: #F2F2F2;
$color-white-two: #FFFFFF;

/* ********************************************* */

$primary-color-one: #004BA0;
$primary-color-two: #1976D2;
$primary-color-three: #63A4FF;

/* ********************************************* */

$secondary-color-one: #C66D00;
$secondary-color-two: #FF9C07;
$secondary-color-three: #FFCD4A;

/* ********************************************* */

$accent-color-one: #261D1D;
$accent-color-two: #F85C19;
$accent-color-three: #9C307C;
$accent-color-four: #352749;
$accent-color-five: #59EFD6;
$accent-color-six: #F1B406;
$accent-color-seven: #E85C7E;
$accent-color-eight: #D83010;
$accent-color-nine: #A2240C;
$accent-color-ten: #86237C;

/* ********************************************* */

$soft-color-blue: #e8f0fe;
$soft-color-blue-two: #D3E8FF;
$soft-color-orange: #FFEDD8;
$soft-color-orange-two: #FCC2A9;


/* Tipo de letra */
$title: 'Lato', sans-serif;
$content: "Roboto", sans-serif;
$title-logo: 'Revalia', cursive;
