<footer class="style-footer d-flex justify-content-between align-items-center">
  <p class="footer-titles-styles">
    Una iniciativa de la
    <a
      href="https://discord.com/invite/programadores"
      class="link-footer"
      target="_BLANK"
      >Comunidad de programadores</a
    >
    y
    <a href="https://www.comfeco.com/" class="link-footer" target="_BLANK"
      >Comfeco</a
    >
  </p>
  <p class="footer-titles-styles">Copyright © 2021</p>
  <div class="d-flex align-items-center">
    <p class="footer-titles-styles me-3">Encuentranos en:</p>
    <a href="" class="me-2"
      ><img src="../../../assets/svg/twitter.svg" alt="Icono de Twitter"
    /></a>
    <a href="" class="me-2"
      ><img src="../../../assets/svg/Facebook.svg" alt="Icono de Facebook"
    /></a>
    <a href=""
      ><img src="../../../assets/svg/Linkedin.svg" alt="Icono de Linkedin"
    /></a>
  </div>
</footer>
